@import "tailwindcss";

@layer base {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
}

@theme {
     --font-inter: "Inter", sans-serif,
     --font-albert-sans: "Albert Sans", sans-serif,
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
    font-family: var(--font-albert-sans);
  }
}